.bg-nordic-gray {
    background-color: #282828;
}

.text-nordic-primary {
    color: #320064;
}

.text-nordic-secondary {
    color: #230046;
}

.text-nordic-dark {
    color: #141414;
}

.text-nordic-black {
    color: #000000;
}
.bg-gray-900 {
    background-color: #5aaa2c;
}

.blurred-element {
    background-image: url('path-to-your-background-image.jpg'); /* Add your background image */
    background-size: cover;
    height: 100vh; /* Adjust height as needed */
    filter: blur(10px); /* Initial blur value */
    transition: filter 0.5s; /* Add a transition for smoother effect */
}


.fade-in-section {
    opacity: 0; /* Start with the section hidden */
    transition: opacity 1s ease-in-out; /* Add a smooth transition effect */
}

.fade-in-section.show {
    opacity: 1; /* When the section is visible, set opacity to 1 to fade it in */
}

