.bg-nordic-gray {
    background-color: #282828;
}

.text-nordic-primary {
    color: #320064;
}

.text-nordic-secondary {
    color: #230046;
}

.text-nordic-dark {
    color: #141414;
}

.text-nordic-black {
    color: #000000;
}
.bg-gray-900 {
    background-color: #5aaa2c;
}

